---
import LayoutDefault from "~/layouts/LayoutDefault.astro"
---

<LayoutDefault>
<p style="text-align: center; width:100%">
    <img width="200" height="200" style="border-radius: 50%;display:inline-block;margin-bottom: 12px;" src="https://www.gravatar.com/avatar/5eabe9de88a1a95dd09725fe701bb64a9329fc0a9e85b035869125c29e5fe53b?s=200" alt="avatar" />
</p>
<br>
<p><strong>你可以叫我饭团（芝士饭团）</strong></p>
<br>
<p ><strong>这个博客主要是记录一些技术和生活上的一些东西，受制于我写作时的眼界和认知水平，文字所表现的事实可能和真相有所偏差，希望各位大大能够及时指正。</strong></p>
<br>
<p ><strong>Email: <a href="mailto:liuchuana@hotmail.com">liuchuana@hotmail.com</a> </strong> </p>
<br>
<p ><strong>Github: <a href="https://github.com/caviare">https://github.com/liuchuana</a></strong></p>

</LayoutDefault>
